<header>
    <div class="yamm">
      <div class="navbar-collapse collapse">

        <div class="container">
            <a class="navbar-brand" href="#"><img src={{ url_for('static', filename="assets/images/logo.svg") }} class="logo" alt=""></a>

            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="{{ url_for('view_my_policies') }}" class="dropdown-toggle" data-toggle="dropdown">My Policies</a>
              </li><!-- /.dropdown -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Policy Application</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('view_policy') }}">View Policies</a></li>
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.dropdown -->

              <li class="dropdown">
                <a href="{{ url_for('submit_premium_payment') }}" class="dropdown-toggle" data-toggle="dropdown">Confirm Premium Payment</a>
              </li><!-- /.dropdown -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Policies Funds</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('view_money_pool') }}">Money Pool</a></li>
                  <li><a href="{{ url_for('view_money_pool_reimbursed') }}">Reimbursements</a></li>
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.dropdown -->

              <li class="dropdown">
                <a href="{{ url_for('logout') }}">Logout</a>
              </li><!-- /.dropdown -->
            </ul><!-- /.nav -->
            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
        </div><!-- /.container -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->
</header>
