SQLALCHEMY_DATABASE_URI = "postgresql://username:password@localhost:5432/blockchain"
SQLALCHEMY_TRACK_MODIFICATIONS = False
SECRET_KEY = "this is secret"
CORS_HEADERS = 'Content-Type'
BCRYPT_LOG_ROUNDS = 12
TEMPLATES_AUTO_RELOAD = True
