<header>
    <div class="yamm">
      <div class="navbar-collapse collapse">

        <div class="container">
            <a class="navbar-brand" href="#"><h2>CUSTODIAN PORTAL</h2></a>

            <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
            <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reimbursement</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('custodianViewPendingReimbursement') }}">View Pending Reimbursements</a></li>
                  <li><a href="{{ url_for('custodianViewAllReimbursement') }}">View All Reimbursements</a></li>
                </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">CashOut</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('custodianViewPendingCashout') }}">View Pending CashOut</a></li>
                  <li><a href="{{ url_for('custodianViewAllCashout') }}">View All CashOut</a></li>
                </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Premium</a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('custodianVerifyPremium') }}">View Pending Premium</a></li>
                  <li><a href="{{ url_for('custodianViewAllPremium') }}">View All Premium</a></li>
                </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
                <a href="{{ url_for('logout') }}" class="dropdown-toggle" data-toggle="dropdown">Logout</a>
            </li><!-- /.dropdown -->
            </ul><!-- /.nav -->
            <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
        </div><!-- /.container -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->
</header>