<header>
    <div class="yamm">
        <div class="navbar-collapse collapse">
            <div class="container">

                <!-- ============================================================= LOGO ============================================================= -->

                <a class="navbar-brand" href="#"><h2>REGULATOR PORTAL</h2></a>


                <!-- ============================================================= LOGO : END ============================================================= -->


                <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a href="#">Home</a>
                    </li><!-- /.dropdown -->

                    <li class="dropdown">
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </li><!-- /.dropdown -->

                </ul>



                <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

            </div><!-- /.container -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->
</header>