{%  extends 'layout/customer/main.html' %}
{%  block content %}
  <main>
    <section id="contact-form">
      <div class="container inner">

              <div class="col-sm-12 outer-top-md inner-right-sm text-center">

                <h2>File Claim for Policy {{policyid}}</h2>

                <form id="contactform" class="forms" action="" method="post">
                  {{ form.hidden_tag() }}

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      {{ form.claimDesc(class_="form-control", placeholder="Claim Description") }}
                    </div><!-- /.col -->
                  </div><!-- /.row -->

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      {{ form.submit(class_="btn btn-default btn-submit") }}
                    </div><!-- /.col -->
                  </div><!-- /.row -->

                </form>

              </div><!-- ./col -->

            </div><!-- /.row -->
          </div><!-- /.col -->
        </div><!-- /.row -->

      </div><!-- /.container -->
    </section>
  </main>

{%  endblock  %}
