{%  extends 'layout/customer/main.html' %}
{%  block content %}
  <section id="team" class="light-bg">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-10 center-block text-center">
          <header>
            <h2>Policies' Money Pool</h2>
            <p>
              Welcome, {{ name }}!
            </p>
          </header>
        </div><!-- /.col -->
        <div class="col-sm-10 center-block">
          <table id="myTable" class="table" style="margin-top:20px">
            <thead class="thead-inverse">
            <tr>
              <th>Money Pool Number</th>
              <th>Total Amount</th>
              <th>Policy ID</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for p in policy_money_pool %}
              <tr>
                <td>{{ p['poolID'] }}</td>
                <td>{{ p.amount }}</td>
                <td>
                  {% set str = p['policy'].split('#') %}
                  {{ str[1] }}
                </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
{%  endblock  %}
