{%  extends 'layout/customer/main.html' %}
{%  block content %}
  <section id="team" class="light-bg">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-10 center-block text-center">
          <header>
            <h2>Reimbursement History for MoneyPool {{moneyPool.poolID}} with total amount ${{moneyPool.amount}}</h2>
            <p>
              Welcome, {{ name }}!
            </p>
          </header>
        </div><!-- /.col -->
        <div class="col-sm-10 center-block">
          <table id="myTable" class="table" style="margin-top:20px">
            <thead class="thead-inverse">
            <tr>
              <th>Reimbursement Number</th>
              <th>Reimbursed Date</th>
              <th>Reimburse Amount</th>
              <th>Type</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for r in moneyPool['reimbursements'] %}
              <tr>
                <td>{{ r['reimbID'] }}</td>
                <td>{{ r['dateReimbursed'] }}</td>
                <td>{{ r['amount'] }}</td>
                <td>{{ r['typeCode'] }}</td>
                <td>{{ r['status'] }}</td>
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
{%  endblock  %}
