{%  extends 'layout/company/main.html' %}
{%  block content %}
  <main>
    <section id="contact-form">
      <div class="container inner">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">

              <div class="col-sm-12 inner-right-sm text-center">
                <h2>Submit Reimbursement</h2>
                <form id="contactform" class="forms" action="" method="post">
                  {{ form.hidden_tag() }}

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      ClaimID{{ form.claim(class_="form-control", placeholder="Claim", value=claim, readonly="readonly") }}
                    </div><!-- /.col -->
                  </div><!-- /.row -->

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      Reimbursement Code{{ form.reimbtype(class_="form-control", placeholder="Reimbursement Code") }}
                    </div><!-- /.col -->
                  </div><!-- /.row -->

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      {{ form.submit(class_="btn btn-default btn-submit") }}
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </form>
              </div><!-- ./col -->

            </div><!-- /.row -->
          </div><!-- /.col -->
        </div><!-- /.row -->

      </div><!-- /.container -->
    </section>
  </main>

{%  endblock  %}