{%  extends 'layout/company/main.html' %}
{%  block content %}
  <section id="team" class="light-bg">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-10 center-block text-center">
          <header>
            <h1>View Policy Applications</h1>
            <p>
              Welcome, {{ name }}!
              Please review the following customer policy applications!
            </p>
          </header>
        </div><!-- /.col -->
        <div class="col-sm-10 center-block">
          <table id="myTable" class="table" style="margin-top:20px">
            <thead class="thead-inverse">
            <tr>
              <th>Policy Application ID</th>
              <th>Customer ID</th>
              <th>Policy ID</th>
              <th>Application Date</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for a in appl %}
              <tr>
                <td>{{ a['applyID'] }}</td>
                <td>
                  {% set str = a['customer'].split('#') %}
                  {{ str[1] }}
                </td>
                <td>
                  {% set str = a['policy'].split('#') %}
                  {{ str[1] }}
                </td>
                <td>{{ a['applyDate'] }}</td>
                <td>{{ a['status'] }}</td>
                {% if a['status']=='PENDING' %}
                  <td><a href="{{ url_for('approve_policy_application', id=a['applyID']) }}">Approve</a></td>
                  <td><a href="{{ url_for('reject_policy_application', id=a['applyID']) }}">Reject</a></td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>

          </table>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
{%  endblock  %}