{%  extends 'layout/custodian/custodianMain.html' %}
{%  block content %}
  <section id="team" class="light-bg">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-10 center-block text-center">
          <header>
            <h1>List of premiums payments</h1>
            <p>
              Welcome, {{ name }}!
              Here are a list of premium payments.
            </p>
          </header>
        </div><!-- /.col -->
        <div class="col-sm-10 center-block">
          <table class="table" style="margin-top:20px">
            <thead class="thead-inverse">
            <tr>
              <th> ID </th>
              <th> Amount </th>
              <th> Status </th>
              <th> Date Approved </th>
              <th> Customer ID </th>
              <th> Policy ID </th>
            </tr>
            </thead>

            {% for p in premiumpayments %}
              <tr>
                <td> {{ p.premID }} </td>
                <td> {{ p.amount }} </td>
                <td> {{ p.status }} </td>
                <td> {{ p.dateApproved }} </td>
		{% set cus = p.customer.split('#') %}
                <td> {{ cus[1] }} </td>
		{% set pol = p.policy.split('#') %}
                <td> {{ pol[1] }} </td>

              </tr>
            {% endfor %}

          </table>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
{%  endblock  %}