{%  extends 'layout/companyMain.html' %}
{%  block content %}
View All Customer's Claim Requests
<table id="myTable" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Claim ID</th>
        <th>Description</th>
        <th>Date Submitted</th>
        <th>Status</th>
        <th>Customer ID</th>
        <th>Policy ID</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for c in claim %}
    <tr>
        <td>{{ c['claimID'] }}</td>
        <td>{{ c['description'] }}</td>
        <td>{{ c['dateSubmitted'] }}</td>
        <td>{{ c['status'] }}</td>
        <td>
            {% set str = c['customer'].split('#') %}
            {{ str[1] }}
        </td>
        <td>
            {% set str = c['policy'].split('#') %}
            {{ str[1] }}
        </td>
        {% if c['status']=='PENDING' %}
        <td><a href="{{ url_for('companySubmitReimb', id=c['claimID']) }}">SubmitReimbursement</a></td>
        <td><a href="{{ url_for('companyRejectClaim', id=c['claimID']) }}">Reject</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{%  endblock  %}