{%  extends 'layout/custodian/custodianMain.html' %}
{%  block content %}
  <section id="team" class="light-bg">
    <div class="container inner-top inner-bottom-sm">

      <div class="row">
        <div class="col-md-8 col-sm-10 center-block text-center">
          <header>
            <h1>List of pending cashouts</h1>
            <p>
              Welcome, {{ name }}!
              Here are a list of cashouts pending action.
            </p>
          </header>
        </div><!-- /.col -->
        <div class="col-sm-10 center-block">
          <table class="table" style="margin-top:20px">
            <thead class="thead-inverse">
            <tr>
              <th> CashOut ID </th>
              <th> Amount </th>
              <th></th>
              <th></th>
            </tr>
            </thead>

            {% for c in cashouts %}
              <tr>
                <td> {{ c.cashOutID }} </td>
                <td> {{ c.amount }} </td>
                <td> <a href="{{ '/approve-cashout/' + c.cashOutID }}">Approve</a> </td>
                <td> <a href="{{ '/reject-cashout/' + c.cashOutID }}">Reject</a></td>
              </tr>
            {% endfor %}

          </table>
        </div>
      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
{%  endblock  %}