{%  extends 'layout/main.html' %}
{%  block content %}
  <main>
    <section id="contact-form">
      <div class="container inner">

        <div class="row">
          <div class="col-md-8 col-sm-9 center-block text-center">
            <header>
              <h1>Welcome!</h1>
              <p>Please login to continue</p>
            </header>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
          <div class="col-sm-12">
            <div class="row">

              <div class="col-sm-12 outer-top-md inner-right-sm text-center">

                <h2>Login</h2>

                <form id="contactform" class="forms" action="" method="post">
                  {{ form.hidden_tag() }}

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      {{ form.username(class_="form-control", placeholder="Username") }}
                      {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div><!-- /.col -->
                  </div><!-- /.row -->

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      {{ form.password(class_="form-control", placeholder="Password") }}
                      {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div><!-- /.col -->
                  </div><!-- /.row -->

                  <div class="row">
                    <div class="col-sm-4 center-block text-center">
                      {{ form.submit(class_="btn btn-default btn-submit") }}
                    </div><!-- /.col -->
                  </div><!-- /.row -->


                  <button class="btn btn-default btn-submit"><a href="/register">Register instead</a></button>

                </form>

              </div><!-- ./col -->

            </div><!-- /.row -->
          </div><!-- /.col -->
        </div><!-- /.row -->

      </div><!-- /.container -->
    </section>
  </main>

{%  endblock  %}
